body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://media.istockphoto.com/vectors/gold-dollar-symbol-currency-linear-vector-illustration-on-a-black-vector-id815146156?k=20&m=815146156&s=170667a&w=0&h=JaLoiEtz5pC-1XxrnKCHnuaQ7KG9jaJNyCybsqshcXI=");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}